<!-- <h1>welcome to angular{{title}} from {{location}}</h1>
<hr>
<div>
    <app-boxa labelvalues="location" [data]="location" (onBoxDataChange)="onBoxValueChange($event)" ></app-boxa>
</div>
<div>
    <app-boxa data="chennai"></app-boxa>
    <app-boxa  [data]="location" (onBoxDataChange)="onBoxValueChange($event)" ></app-boxa>

</div>
<div>
    <app-customer-form></app-customer-form>
</div> -->
<!-- <app-count-display-component [count]="total">

</app-count-display-component>
<app-hit-button [label]="hits">

</app-hit-button>
<app-counter-app></app-counter-app> -->
<app-rt-pcr></app-rt-pcr>