:root{
            --Dark-Grayish-Red: hsl(0, 6%, 24%);
            --Desaturated-Red: hsl(0, 36%, 70%);
            --Soft-Red: hsl(0, 93%, 68%);
        }
    *{
          box-sizing: border-box;
          margin: 0;
          padding: 0;
      }
    *:focus{
          outline: none;
      }
    html,
    body{
          font-family: 'Josefin Sans';
          height: 100%;
          overflow: hidden;
      }
    .logo{
          background-position: 1rem;
          background-repeat: no-repeat;
          background-size: 6em ;
          background: url(../images/logo.svg);
          height: 10vh;
      }
    .img{
          background: url(../images/hero-mobile.jpg);
          height: 30vh;
      }
    .content{
          height: 60vh;
          padding: 3em 3em;
          text-align: center;
      }
    .content h1{
          color: var(--Dark-Grayish-Red);
          font-size: 2.3em;
          letter-spacing: 0.2em;
          line-height: 1.2em;
          text-transform: uppercase;
      }
    .content h1 span{
          color:  var(--Desaturated-Red);
          font-weight: lighter;
          letter-spacing: 0.4em;
      }
    .content p{
          color: var(--Desaturated-Red);
          font-size: 1em;
          padding: 3em 0em ;
      }
    label{
          position: relative;
      }
    .input-text{
          border-radius: 30px;
          border: 1px solid var(--Desaturated-Red);
          height: 40px;
          padding: 0 15px;
          width: 250px;
      }    
    .input-text::placeholder{
          color: var(--Desaturated-Red);
      }
    .btn{
          -moz-box-shadow: -7px -2px 111px 16px rgba(248,191,191,0.55);
          -webkit-box-shadow: -7px -2px 111px 16px rgba(248,191,191,0.55);
          background: linear-gradient( hsl(0, 80%, 86%),  hsl(0, 74%, 74%));
          border-radius: 30px;
          border: none;
          bottom: 0;
          box-shadow: -7px -2px 111px 16px rgba(248,191,191,0.55);
          color: white;
          height: 40px;
          letter-spacing: 1.2px;
          padding: 0 20px;
          position: absolute;
          right: 0;
          top: -13px;
      }
    .btn:hover{
          background: linear-gradient(hsl(0, 0%, 100%),   hsl(0, 74%, 74%));
          cursor: pointer;
      }    
    @media only screen and (min-width:400px) and (max-width:786px){
        body{
              background: url(../images/bg-pattern-desktop.svg);
          }
        html,
        body{
              font-family: 'Josefin Sans';
              height: 100%;
              overflow: visible;
          }
        .img{
              background-size: 35em;
              background: url(../images/hero-desktop.jpg);
              height: 50vh;
          }
      }    
    @media only screen and (min-width:700px){
        body{
              background: url(../images/bg-pattern-desktop.svg);
          }
        main{
              display: flex;
              flex-direction: row-reverse;
              position: relative;
          }
        .logo{
              background-size: 8em;
              height: 30vh;
              left: 10vw;
              position: absolute;
              top: -10vh;
              width: 50vw;
          }
        .content{
                            flex-basis: 50%;
                            height: 100vh;
                            padding: 7em 7em 0 9em ;
                            text-align: start;
                        }
        .img{
              background: url(../images/hero-desktop.jpg);
              flex-basis: 50%;
              height: 100vh;
          }
      }    
    #error-msg{
          color: var(--Desaturated-Red);
          font-size: 0.8em;
          margin-top: 10px;
          opacity: 0.8;
          padding-left: 1em;
          padding: 0;
          visibility: hidden;
      }
    .active {
          border: 2px solid var(--Soft-Red);
      }
    #error{
          align-items: center;
          background-color: var(--Soft-Red);
          border-radius: 50%;
          border: none;
          bottom: 0;
          color: white;
          display: flex;
          height: 30px;
          justify-content: center;
          left: 10.5em;
          letter-spacing: 1.2px;
          opacity: 0.7;
          position: absolute;
          right: 0;
          text-align: center;
          top: -8px;
          visibility: hidden;
          width:30px;
      }