:root {
    --blue: hsl(223, 87%, 63%);
    --gray: hsl(0, 0%, 59%);
    --light-Red: hsl(354, 100%, 66%);
    --pale-Blue: hsl(223, 100%, 88%);
    --very-Dark-Blue: hsl(209, 33%, 12%);
    }
    * {
        box-sizing: border-box;
        font-family: 'Libre Franklin',sans-serif;
        margin: 0;
        padding: 0;
    }
    body {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        min-height: 100vh;
        text-align: center;
        width: 90%;
    }
    .logo {
        margin-top: 2em;
    }
    h1 {
        color:  hsl(0, 0%, 59%);
        font-size: 1.5em;
        font-weight: 300;
        padding: 1.3em 0 0.5em;
    }
    span {
        color: hsl(209, 33%, 12%);
        font-weight: 700;
    }
    h2 {
        color: hsl(209, 33%, 12%);
        font-size: 0.8em;
        font-weight: 600;
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        justify-content: center;
        margin: 2em 0;
        width: 80%;
    }
    input {
        border-radius: 50px;
    }
    #input-email {
        border: 1px solid  hsl(223, 100%, 88%);
        padding: 1em 0em 1em 2em;
        width: 100%;
    }
    #submit-btn {
        background-color: hsl(223, 87%, 63%);
        border: none;
        box-shadow: 0em 0.5em 0.5em hsla(210, 32%, 12%, 0.172);
        color: white;
        font-weight: 600;
        padding: 1em 0em;
    }
    textarea:focus , input:focus {
          outline: none;
    }
    h3 {
        color: hsl(354, 100%, 66%);
        font-size: 0.8em;
        font-style: italic;
        font-weight: 300;
        display: none;
        margin-bottom: 1.5em;
        text-align: center;
    }
    .illustration {
        width: 90%;
    }
    footer {
        margin-top: 5em;
    }
    .social-icons {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 1em;
        justify-content: center;
    }
    .social-icons i {
        border: 1px solid  hsl(223, 100%, 88%);
        border-radius: 50%;
        color: hsl(223, 87%, 63%);
        height: 35px;
        object-fit: contain;
        padding: 0.5em;
        width: 35px;
    }
    p {
        color: hsl(0, 0%, 59%);
        font-size: 0.8em;
        margin-top: 2em;
    }
    .error h3 {
        display: block;
    }
    .error #input-email {
        border-color: hsl(354, 100%, 66%);
    }
    @media screen and (min-width: 992px) {
        .logo {
            margin-top: 1em;
        }
        h1 {
            font-size: 2.5em;
            padding-top: 1em;
        }
        h3 {
            font-size: 0.7em;
            margin-bottom: 0;
            width: 100%;
        }
        form {
            align-items: flex-start;
            flex-direction: row;
            gap:8em;
            justify-content: center;
            width: 100%;
        }
        #input-email {
            width: 150%;
        }
        #submit-btn {
            margin-top: 0;
            width: 13%;
        }
        .w-error {
            display: flex;
            flex-direction: column;
            width: 20%;
        }
    
        .illustration {
            width: 40%;
        }
        footer {
            margin-top: 2em;
        }
    
        #submit-btn:hover {
            background-color: hsl(223, 100%, 88%);
            cursor: pointer;
        }
        .social-icons i:hover {
            color: white;
            background-color:  hsl(223, 87%, 63%);
        }
    }
    